/*
Theme Name:   Twenty Seventeen Child
Theme URI:    https://github.com/jibundeyare/src-wordpress-child-theme
Description:  Twenty Seventeen Child Theme
Author:       Jibundeyare
Author URI:   https://github.com/jibundeyare/
Template:     twentyseventeen
Version:      1.0.0
*/

/* put your css code here */

